.upload-location img {
    max-width: 150px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  .upload-location {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }
  
  .upload-location img {
    max-width: 250px;
  }
  
  